@page "/about"

<PageTitle>About</PageTitle>

<body class="body">
<div class="contact-section">
    <div class="contact-info">
        <div style="text-align:left; padding-bottom:5px;"><i class="oi oi-map-marker"></i><b>Universitatea Alexandru Ioan Cuza , Iasi , Romania</b></div>
        <div style="text-align:left; padding-bottom:5px;"><i class="oi oi-envelope-closed"></i><b>uaic@gmail.com</b></div>
        <div style="text-align:left; padding-bottom:5px;"><i class="oi oi-phone"></i><b> 0232 201 060</b></div>
        <div style="text-align:left; padding-bottom:5px;"><i class="oi oi-clock"></i> <b>16:00 PM to 18:00 PM</b></div>

    </div>

    <div class="contact-form">
        <h1>Contact us</h1>

        <form class="contact" action="" method="post">
            <input type="text" name=" name" class="text-box" placeholder ="Your Name" required />
            <input type="email" name="email" class="text-box" placeholder ="Your Email" required />
            <textarea name="message" rows="5" placeholder="Your Message" required></textarea>
            <input type="submit" name="submit" class="send-btn" value="Send"/>
        </form>
    </div>





</div>


<div class="studenti">
     
    <div class="studenti2">

        <div style="text-align:left;"><b>Radeanu Liviu Eduard</b></div>
        <div style="text-align:left;"><b>Danila Cosmin</b></div>
        <div style="text-align:left;"><b> Avadanei Andrei</b></div>
        <div style="text-align:left;"> <b>Murarasu Matei</b></div>

    </div>

</div>
</body>


