@page "/functionalitate"
<PageTitle>Functionalitate</PageTitle>
<body>
	<section class="about">
		<div class="main" >

	<img src="cuterobot.jpg"
	<div class="about-text">
		<h1>Functionalitate</h1>
<h5>Un calculator de cheltuieli</h5>
<p> Fiecare user isi va introduce cheltuielile pe care le face intr-o zi in campurile corespunzatoare lor : cafea , supermarket , combustibil si transport public. Apoi i se va 
	genera un raport cu costurile pe zi , saptamana , luna si an in categoria respectiva.Pentru valuarea zilei , ramane neschimbata , valuarea saptamanala calculeaza costul pe 7 zile
	, costul lunar este medie a 30 zile si anual pe 364 de zile.</p>
	<button type="button"><a style="text-decoration:none; color:white;" href="/about">About</a></button>
			</div>
</div>
	</section>
</body>